<p>Hello <%= @resource.email %></p>

<p>A doctor has created your account on our platform.</p>

<p>To set your password and log in, click the link below:</p>

<p><%= link_to 'Set your password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thank you,</p>
<p>The Team</p>
